.footer {
    background-color: black;
    color: white;
    padding: 1rem;

    &--title {
        padding: 1rem 2rem;
        letter-spacing: 2px;
    }
    &__list {
        margin: 1rem;
        list-style: none;
        text-decoration: none;

        &--item {
            display: flex;
            align-items: center;
            margin: .5rem;
            cursor: pointer;

            a {
                text-decoration: none;
                color: white;
            }

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: .5rem;
                width: 1rem;
            }
        }
    }
}