@import '../variables/colors';

.header {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
    justify-content: center;
    background-color: $light-primary;
    padding-bottom: 2rem;
    &--title {
        width: 100%;
        text-align: center;
        padding: .5rem;
        box-shadow: 0 2px 4px grey;
    }
    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bg-color;
        height: 2.5rem;
        i {
            font-size: .8rem;
            color: $grey-color;
            margin: .25rem;
        }
        input {
            border: none;
            background-color: $bg-color;
            padding: .25rem;
            color: black;
            width: 130px;
            &:focus {
                outline: none;
            }
        }
    }
    &--titre_resto {
        text-align: center;
        font-family: 'Roboto';
        margin: 1rem 3rem .25rem 3rem;
    }
    &--sous-titre_resto {
        text-align: center;
        margin: .25rem 2rem;
    }

}