.resto {
    padding: .5rem .25rem 2rem .25rem;
    &--title {
        margin: 1rem 0;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        padding: .75rem;

        &__card {
            display: grid;
            width: 100%;
            grid-template-columns: 100%;
            grid-template-rows: 150px 4rem;
            grid-template-areas: 
                'image-card'
                'text-card';
            border-radius: 15px;
            overflow: hidden;
            text-decoration: none;
            color: black;
            @include shadow-box(5px, 0%);
            transition: all ease .4s;
            
            &:hover {
                transform: scale(1.05);
            }

            &--img {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                grid-area: image-card;
                
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                
                &.new::after {
                    content: 'Nouveau';
                    position: absolute;
                    padding: .25rem .5rem;
                    font-size: .8rem;
                    font-weight: bold;
                    color: rgb(25, 104, 84);
                    background-color: rgb(40, 192, 154);
                    top: 1rem;
                    right: 1rem;
                }
            }
            &--txt {
                font-size: .9rem;
                padding: .25rem 0 .25rem 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                grid-area: text-card;
                position: relative;
                &--coeur {
                    position: absolute;
                    top: 20%;
                    right: 2rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
            
    }
}
