.containerMenu {
    position: relative;
}
.headerMenu {
    position: relative;
    &__title {
        position: fixed;
        width: 100%;
        z-index: 2;
        background: white;
        a {
            position: absolute;
            left: 1rem;
            top: .75rem;
            color: rgb(95, 95, 95);
            width: 1rem;
            font-size: 1.5rem;
        }
        &--txt {
           text-align: center;
           
        }
    }
    &__img {
        width: 100%;
        bottom: -3rem;
        position: relative;
        img {
            width: 100%;
            height: auto;
            max-height: 350px;
            object-fit: cover;
        }
    }
}

.nom {
    text-transform: uppercase;
    color: rgb(92, 92, 92);
    font-weight: 400;
    position: relative;
    margin: 1.5rem 0;

    &::before {
        content: '';
        position: absolute;
        width: 3.5rem;
        height: 3px;
        bottom: -.5rem;
        left: 0;
        background-color: $tertiary-color;
    }
}

.card {
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 1rem 3rem 1rem 1rem;
    margin-bottom: 1rem;
    @include shadow-box(4px, 10%);
    position: relative;
    left: 0;
    transition: all ease .4s;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    animation: appearance ease .5s 1s forwards;

    &--txt {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &::first-letter {
        text-transform: capitalize;
    }
    }

    &--prix {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        transition: all ease .4s;
    }

    &--icon {
        position: absolute;
        color: white;
        font-size: 2rem;
        transition: all ease .4s;
        top: 25%;
        right: -3rem;
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 0;
        background-color: $tertiary-color;
        transition: all ease .4s;
    }

    &::after {
        content: '';
        color: black;
        position: absolute;
        right: 2rem;
        width: 1rem;
        height: 1rem;
    }

    &:hover{
        padding-right: 8rem;
        &>.card--prix {
            transform: translateX(-5rem);
        }
        &::before {
            width: 5rem;
        }
        &::after {
            right: 5rem;
        }
        &>.card--icon {
            transform: translateX(-4.5rem) rotate(360deg);
        }
        
    }

}

@for $i from 1 through 10 {
    .card:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.2}s;
    }
}

.carte {
    position:relative;
    width: 100%;
    background-color: $light-primary;
    border-radius: 3rem 3rem 0 0;
    padding: 1rem;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        &--txt::first-letter {
            text-transform: capitalize;
        }

        &--coeur {
            position: relative;
            width: 1.5rem;
            height: 1.5rem;
        }
    }


    &__btn {
        width: 150px;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
    }
}

.footer {
    top: -3rem;
}

@keyframes appearance {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1
    }
}