.btn {
    padding: .5rem 1rem;
    border-radius: 20px;
    margin: .5rem auto;
    font-size: bold;
    color: white;
    background: $gradient;
    outline: none;
    border: none;
    cursor: pointer;
    @include shadow-box(5px, 0%);
    opacity: 1;
    transition: all ease .3s;

    &:hover {
        @include shadow-box(10px, 30%);
        background: $light-gradient;
    }
}