$primary-color: #9356DC;
$light-primary: lighten($primary-color, 38%);
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-color: #e9e9e9;
$grey-color: #636363;
$gradient: linear-gradient($secondary-color, $primary-color);
$gradient-reverse: linear-gradient($primary-color, $secondary-color);
$light-gradient: linear-gradient(lighten($secondary-color, 10%), lighten($primary-color, 10%));

@mixin shadow-box($intensity, $dark) {
    box-shadow: 2px 2px $intensity darken($grey-color, $dark);
}